<section class="home-navigation">
    <div class="home-navigation-content">
        <h1 class="text-center text-white fw-bold fs-60">Timeless Fashion for the <br /> Modern Wardrobe</h1>
        <p class="text-white text-center fs-16 fw-medium pt-2">
            Discover timeless fashion for Men, Women, and Kids – crafted for <br /> comfort, designed for confidence.
        </p>
        <div class="d-flex justify-content-center mt-2">
            <button class="btn px-5 py-3 text-white fw-bold bg-danger" style="border-radius: 30px;">Explore the Collection</button>
        </div>
    </div>
</section>

<section class="home-arrival p-40">
    <div class="container pt-50">
        <div class="d-flex justify-content-between align-items-center">
            <div class="arrival-heading">
                <h2 class="fs-46 fw-bold">New Arrials</h2>
                <span class="fs-16 fw-medium">
                    Be the first to wear this season’s latest looks. Handpicked and freshly styled.
                </span>
            </div>
            <div>
                <button class="btn px-5 py-3 text-white fw-bold bg-danger" style="border-radius: 30px;">See What's New</button>
            </div>
        </div>
        <div class="row pt-50 pb-50">
            <div class="col">
                <img src="~/images/product/1-400x465.png" style="width: 415px; height: 450px;" />
                <div class="arrial-content d-flex flex-column">
                    <a href="#" class="fs-20 fw-medium text-black">Flowline Dresses</a>
                    <span class="fw-light">Women</span>
                    <span class="fw-medium">200.000đ</span>
                    <div class="d-flex flex-grow-0 gap-2">
                        <button class="p-2 border-0">M</button>
                        <button class="p-2 border-0">L</button>
                        <button class="p-2 border-0">XL</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="~/images/product/1-400x465.png" style="width: 415px; height: 450px;" />
                <div class="arrial-content d-flex flex-column">
                    <a href="#" class="fs-20 fw-medium text-black">Flowline Dresses</a>
                    <span class="fw-light">Women</span>
                    <span class="fw-medium">200.000đ</span>
                    <div class="d-flex flex-grow-0 gap-2">
                        <button class="p-2 border-0">M</button>
                        <button class="p-2 border-0">L</button>
                        <button class="p-2 border-0">XL</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="~/images/product/1-400x465.png" style="width: 415px; height: 450px;" />
                <div class="arrial-content d-flex flex-column">
                    <a href="#" class="fs-20 fw-medium text-black">Flowline Dresses</a>
                    <span class="fw-light">Women</span>
                    <span class="fw-medium">200.000đ</span>
                    <div class="d-flex flex-grow-0 gap-2">
                        <button class="p-2 border-0">M</button>
                        <button class="p-2 border-0">L</button>
                        <button class="p-2 border-0">XL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-categories p-40">
    <div class="container pt-50 pb-100">
        <div class="d-flex justify-content-center align-items-center">
            <div class="arrival-heading text-center">
                <h2 class="fs-46 fw-bold">Our Categories</h2>
                <span class="fs-16 fw-medium">
                    Explore a wide range of styles, handpicked to suit every taste and need.
                </span>
            </div>
        </div>
        <div class="row pt-50">
            <div class="col categories-item">
                <img src="~/images/category-01.png" style="width:590px; height:391px; border-radius: 25px; border: 2px solid black" />
                <div class="categories-content">
                    <p class="fw-bold fs-24 text-black">Mens Wear</p>
                    <a href="#" class="fw-medium text-danger fs-14">Shop Now</a>
                </div>
            </div>

            <div class="col categories-item">
                <img src="~/images/category-01.png" style="width:590px; height:391px; border-radius: 25px; border: 2px solid black" />
                <div class="categories-content">
                    <p class="fw-bold fs-24 text-black">Mens Wear</p>
                    <a href="#" class="fw-medium text-danger fs-14">Shop Now</a>
                </div>
            </div>

            <div class="col categories-item">
                <img src="~/images/category-01.png" style="width:590px; height:391px; border-radius: 25px; border: 2px solid black" />
                <div class="categories-content">
                    <p class="fw-bold fs-24 text-black">Mens Wear</p>
                    <a href="#" class="fw-medium text-danger fs-14">Shop Now</a>
                </div>
            </div>

            <div class="col categories-item">
                <img src="~/images/category-01.png" style="width:590px; height:391px; border-radius: 25px; border: 2px solid black" />
                <div class="categories-content">
                    <p class="fw-bold fs-24 text-black">Mens Wear</p>
                    <a href="#" class="fw-medium text-danger fs-14">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-sellers p-40">
    <div class="container pt-50 pb-100">
        <div class="d-flex justify-content-center align-items-center">
            <div class="arrival-heading text-center">
                <h2 class="fs-46 fw-bold">Best Sellers</h2>
                <span class="fs-16 fw-medium">
                    From cult-favorite jackets to must-have dresses <br /> These are our customer faves.
                </span>
            </div>
        </div>
        <div class="row pt-50 pb-50">
            <div class="col">
                <img src="~/images/product/1-400x465.png" style="width: 415px; height: 450px;" />
                <div class="arrial-content d-flex flex-column">
                    <a href="#" class="fs-20 fw-medium text-black">Flowline Dresses</a>
                    <span class="fw-light">Women</span>
                    <span class="fw-medium">200.000đ</span>
                    <div class="d-flex flex-grow-0 gap-2">
                        <button class="p-2 border-0">M</button>
                        <button class="p-2 border-0">L</button>
                        <button class="p-2 border-0">XL</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="~/images/product/1-400x465.png" style="width: 415px; height: 450px;" />
                <div class="arrial-content d-flex flex-column">
                    <a href="#" class="fs-20 fw-medium text-black">Flowline Dresses</a>
                    <span class="fw-light">Women</span>
                    <span class="fw-medium">200.000đ</span>
                    <div class="d-flex flex-grow-0 gap-2">
                        <button class="p-2 border-0">M</button>
                        <button class="p-2 border-0">L</button>
                        <button class="p-2 border-0">XL</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <img src="~/images/product/1-400x465.png" style="width: 415px; height: 450px;" />
                <div class="arrial-content d-flex flex-column">
                    <a href="#" class="fs-20 fw-medium text-black">Flowline Dresses</a>
                    <span class="fw-light">Women</span>
                    <span class="fw-medium">200.000đ</span>
                    <div class="d-flex flex-grow-0 gap-2">
                        <button class="p-2 border-0">M</button>
                        <button class="p-2 border-0">L</button>
                        <button class="p-2 border-0">XL</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-exclusive">
    <img src="~/images/exclusive-jackets.png" />
    <div class="exclusive-content">
        <h2 class="fs-24 fw-bold mb-3">The Exclusive Jackets - Starting <br /> at just $40</h2>
        <span class="fs-16 fw-normal">
            Crafted for comfort, designed for impact — this <br /> is the outerwear piece that’s redefining <br /> everyday style. Our best-selling jacket brings <br /> warmth, versatility, and edge to any outfit.
        </span>
        <button class="btn px-5 py-3 fs-16 text-white fw-bold bg-danger mt-5" style="border-radius: 30px;">Shop the Exclusive Jacket</button>
    </div>
</section>

<section class="home-countersales container-fluid text-center text-white d-flex align-items-center justify-content-center">
    <div class="countersales-content">
        <h1 class="fw-bold mb-3">Hurry Up! Get Up to 50% Off</h1>
        <p class="mb-4">Step into summer with sun-ready styles at can't-miss prices.</p>

        <div class="d-flex justify-content-center gap-3 mb-4">
            <div class="bg-white text-dark rounded px-3 py-3">
                <h2 id="days" class="fw-bold fs-46">00</h2>
                <p>DAY</p>
            </div>
            <div class="bg-white text-dark rounded px-3 py-3">
                <h2 id="hours" class="fw-bold fs-46">00</h2>
                <p>HOURS</p>
            </div>
            <div class="bg-white text-dark rounded px-3 py-3">
                <h2 id="minutes" class="fw-bold fs-46">00</h2>
                <p>MINS</p>
            </div>
            <div class="bg-white text-dark rounded px-3 py-3">
                <h2 id="seconds" class="fw-bold fs-46">00</h2>
                <p>SEC</p>
            </div>
        </div>
        <a href="#" class="btn btn-danger px-4 py-2 fw-bold">SHOP THE SUMMER SALE</a>
    </div>
</section>

<section class="home-ourshopers p-40">
    <div class="container pt-50 pb-100">
        <div class="d-flex justify-content-center align-items-center">
            <div class="arrival-heading text-center">
                <h2 class="fs-46 fw-bold">What Our <br /> Shoppers Say</h2>
                <span class="fs-16 fw-medium">
                    Store that nails fashion and comfort.
                </span>
            </div>
        </div>
        <div class="row g-4 pt-50">
            <div class="col-md-4">
                <div class="rounded-4 shadow-sm" style="background-color: #f7eced; padding: 54px 32px;">
                    <div class="mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#ef4444" viewBox="0 0 24 24">
                            <path d="M7.17 3.1c-2.2.5-3.9 2.3-4.3 4.5C2.5 9.5 3.3 12 5.3 13.4c.6.4 1.4.6 2.2.6v.2c0 2.4-.3 4.3-1 5.8-.1.1 0 .3.2.3h3.3c.2 0 .4-.1.4-.3 1.1-2.6 1.6-5.2 1.6-7.6 0-5.4-3.3-9-7.2-9.4zm11 0c-2.2.5-4 2.3-4.4 4.5-.4 1.9.4 4.4 2.4 5.8.7.4 1.5.6 2.3.6v.2c0 2.4-.3 4.3-1 5.8-.1.1 0 .3.2.3h3.3c.2 0 .4-.1.4-.3 1.1-2.6 1.6-5.2 1.6-7.6 0-5.4-3.3-9-7.2-9.4z" />
                        </svg>
                    </div>
                    <p class="text-dark fs-16 fw-normal">
                        “Velora has completely transformed how I shop for clothes. Every piece feels thoughtfully designed and incredibly comfortable — from their polos to their jackets. It’s rare to find a brand that gets the fit, style, and quality right every single time.”
                    </p>
                    <div class="d-flex align-items-center mt-4">
                        <img src="~/images/testimonial-01.png" class="rounded-circle me-3" width="50" height="50" />
                        <strong>Jessica M., San Diego</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded-4 shadow-sm" style="background-color: #f7eced; padding: 54px 32px;">
                    <div class="mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#ef4444" viewBox="0 0 24 24">
                            <path d="M7.17 3.1c-2.2.5-3.9 2.3-4.3 4.5C2.5 9.5 3.3 12 5.3 13.4c.6.4 1.4.6 2.2.6v.2c0 2.4-.3 4.3-1 5.8-.1.1 0 .3.2.3h3.3c.2 0 .4-.1.4-.3 1.1-2.6 1.6-5.2 1.6-7.6 0-5.4-3.3-9-7.2-9.4zm11 0c-2.2.5-4 2.3-4.4 4.5-.4 1.9.4 4.4 2.4 5.8.7.4 1.5.6 2.3.6v.2c0 2.4-.3 4.3-1 5.8-.1.1 0 .3.2.3h3.3c.2 0 .4-.1.4-.3 1.1-2.6 1.6-5.2 1.6-7.6 0-5.4-3.3-9-7.2-9.4z" />
                        </svg>
                    </div>
                    <p class="text-dark fs-16 fw-normal">
                        “Velora has completely transformed how I shop for clothes. Every piece feels thoughtfully designed and incredibly comfortable — from their polos to their jackets. It’s rare to find a brand that gets the fit, style, and quality right every single time.”
                    </p>
                    <div class="d-flex align-items-center mt-4">
                        <img src="~/images/testimonial-01.png" class="rounded-circle me-3" width="50" height="50" />
                        <strong>Jessica M., San Diego</strong>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="rounded-4 shadow-sm" style="background-color: #f7eced; padding: 54px 32px;">
                    <div class="mb-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#ef4444" viewBox="0 0 24 24">
                            <path d="M7.17 3.1c-2.2.5-3.9 2.3-4.3 4.5C2.5 9.5 3.3 12 5.3 13.4c.6.4 1.4.6 2.2.6v.2c0 2.4-.3 4.3-1 5.8-.1.1 0 .3.2.3h3.3c.2 0 .4-.1.4-.3 1.1-2.6 1.6-5.2 1.6-7.6 0-5.4-3.3-9-7.2-9.4zm11 0c-2.2.5-4 2.3-4.4 4.5-.4 1.9.4 4.4 2.4 5.8.7.4 1.5.6 2.3.6v.2c0 2.4-.3 4.3-1 5.8-.1.1 0 .3.2.3h3.3c.2 0 .4-.1.4-.3 1.1-2.6 1.6-5.2 1.6-7.6 0-5.4-3.3-9-7.2-9.4z" />
                        </svg>
                    </div>
                    <p class="text-dark fs-16 fw-normal">
                        “Velora has completely transformed how I shop for clothes. Every piece feels thoughtfully designed and incredibly comfortable — from their polos to their jackets. It’s rare to find a brand that gets the fit, style, and quality right every single time.”
                    </p>
                    <div class="d-flex align-items-center mt-4">
                        <img src="~/images/testimonial-01.png" class="rounded-circle me-3" width="50" height="50" />
                        <strong>Jessica M., San Diego</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-works p-40">
    <div class="container pt-50 pb-50">
        <div class="d-flex justify-content-center align-items-center">
            <div class="arrival-heading text-center">
                <h2 class="fs-46 fw-bold">How It Works</h2>
                <span class="fs-16 fw-normal">
                    Just Pick, Pack and Ship.
                </span>
            </div>
        </div>
        <div class="my-5">
            <div class="bg-light p-4 rounded-4" style="background-color: #ffffff !important;">
                <div class="row text-center">
                    <div class="col-md-4 d-flex flex-grow-0 position-relative">
                        <div class="icon-circle mb-2">
                            <i class="fa-solid fa-bag-shopping fs-24 text-danger"></i>
                        </div>
                        <div class="d-flex flex-column justify-content-start text-start ms-5">
                            <h6 class="fw-bold fs-18">Shop Styles</h6>
                            <p class="text-muted small mb-0 fs-16">
                                Browse our curated <br /> collections for Men, Women,<br>
                                Kids & Accessories.
                            </p>
                            <div class="vertical-divider d-none d-md-block"></div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-grow-0 position-relative">
                        <div class="icon-circle mb-2">
                            <i class="fa-solid fa-bag-shopping fs-24 text-danger"></i>
                        </div>
                        <div class="d-flex flex-column justify-content-start text-start ms-5">
                            <h6 class="fw-bold fs-18">Shop Styles</h6>
                            <p class="text-muted small mb-0 fs-16">
                                Browse our curated <br /> collections for Men, Women,<br>
                                Kids & Accessories.
                            </p>
                            <div class="vertical-divider d-none d-md-block"></div>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex flex-grow-0 position-relative">
                        <div class="icon-circle mb-2">
                            <i class="fa-solid fa-bag-shopping fs-24 text-danger"></i>
                        </div>
                        <div class="d-flex flex-column justify-content-start text-start ms-5">
                            <h6 class="fw-bold fs-18">Shop Styles</h6>
                            <p class="text-muted small mb-0 fs-16">
                                Browse our curated <br /> collections for Men, Women,<br>
                                Kids & Accessories.
                            </p>
                            <div class="vertical-divider d-none d-md-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-orders p-40">
    <div class="container pt-50 pb-50">
        <div class="d-flex justify-content-center align-items-center">
            <div class="arrival-heading text-center">
                <h2 class="fs-46 fw-bold">Get 10% Off on Your First Order</h2>
                <span class="fs-16 fw-normal">
                    Plus exclusive access to product drops, style tips, and insider deals.
                </span>
            </div>
        </div>

        <div class="d-flex pt-50 gap-3 justify-content-center">
            <input type="email" class="form-control fs-16" placeholder="Enter your email address" style="width: 437px; height: 60px;" />
            <button class="btn btn-danger px-4 py-3 fw-bold" style="border-radius: 30px; text-transform: uppercase;">Subscribe</button>
        </div>

        <div class="container text-center my-5">
            <div class="row justify-content-center">
                <div class="col-6 col-sm-3 mb-4">
                    <img src="~/images/footer-img-01.png" class="img-fluid rounded" alt="Image 1">
                </div>
                <div class="col-6 col-sm-3 mb-4">
                    <img src="~/images/footer-img-01.png" class="img-fluid rounded" alt="Image 2">
                </div>
                <div class="col-6 col-sm-3 mb-4">
                    <img src="~/images/footer-img-01.png" class="img-fluid rounded" alt="Image 3">
                </div>
                <div class="col-6 col-sm-3 mb-4">
                    <img src="~/images/footer-img-01.png" class="img-fluid rounded" alt="Image 4">
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                <i class="fa-brands fa-instagram text-danger fs-5 fw-bold"></i>
                <strong>Follow us</strong>
                <span>&#169;VeloraStyle</span>
            </div>
        </div>
    </div>
</section>

<section class="home-delivary p-40" style="background-color: #f5dfe1;">
    <div class="container pt-50 pb-50">
        <div class="row text-center">
            <div class="col-12 col-md-3 mb-4">
                <i class="fa-solid fa-car-side fs-46 text-danger"></i>
                <h6 class="fw-bold mt-2">Free Standard Delivery</h6>
                <p class="mb-0">On all Orders Over $100</p>
            </div>

            <div class="col-12 col-md-3 mb-4">
                <i class="fa-solid fa-cube fs-46 text-danger"></i>
                <h6 class="fw-bold mt-2">Quick Delivery</h6>
                <p class="mb-0">Delivery within 3 Days across US</p>
            </div>

            <div class="col-12 col-md-3 mb-4">
                <i class="fa-solid fa-credit-card fs-46 text-danger"></i>
                <h6 class="fw-bold mt-2">Secure Payments</h6>
                <p class="mb-0">Secure Payment Methods</p>
            </div>

            <div class="col-12 col-md-3 mb-4">
                <i class="fa-solid fa-headset fs-46 text-danger"></i>
                <h6 class="fw-bold mt-2">Top Rated Customer Service</h6>
                <p class="mb-0">Quick Responses & Solutions</p>
            </div>
        </div>
    </div>
</section>
