<section class="about-navigation pt-50">
    <div class="about-navigation-content">
        <h1 class="text-center text-white fw-bold fs-60">Style That Moves <br /> With You</h1>
        <p class="text-white text-center fs-16 fw-medium pt-2">
            Born from a passion for timeless design and everyday comfort
        </p>
    </div>
</section>

<section class="about-works p-40">
    <div class="container pt-50 pb-50">
        <div class="d-flex justify-content-center align-items-center">
            <div class="arrival-heading text-center">
                <h2 class="fs-46 fw-bold">What Makes Velora Stand Out</h2>
                <span class="fs-16 fw-normal">
                    Style, Comfort & More – Here’s Why You’ll Love Us
                </span>
            </div>
        </div>
        <div class="row g-4 justify-content-center pt-50">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="text-center border rounded-4 p-4 h-100">
                    <span class="uael-icon">
                        <svg class="text-danger mb-3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" viewBox="0 0 496.004 496.004" style="enable-background:new 0 0 496.004 496.004;" xml:space="preserve"><g>	<g>		<g>			<path d="M493.661,178.346l-80-80c-1.151-1.148-2.624-1.918-4.224-2.208l-88-16c-4.347-0.791-8.512,2.092-9.303,6.439     c-0.086,0.47-0.129,0.947-0.129,1.425c-0.023,2.542-0.251,5.078-0.68,7.584l-55.32-13.824v-2.56     c21.645-4.418,35.61-25.547,31.192-47.192C282.779,10.365,261.65-3.6,240.005,0.818c-18.621,3.801-31.996,20.179-32,39.184h16     c0-13.255,10.745-24,24-24c13.255,0,24,10.745,24,24s-10.745,24-24,24c-4.418,0-8,3.582-8,8v9.752l-55.32,13.832     c-0.429-2.506-0.657-5.042-0.68-7.584c0.001-2.373-1.051-4.623-2.872-6.144c-1.811-1.542-4.226-2.175-6.56-1.72l-88,16     c-1.6,0.29-3.073,1.06-4.224,2.208l-80,80c-3.123,3.124-3.123,8.188,0,11.312l64,64c3.124,3.123,8.188,3.123,11.312,0     l18.344-18.344v52.688h-56c-22.025-0.064-39.931,17.74-39.995,39.765c-0.037,12.721,5.997,24.696,16.243,32.235     C-1.42,372.915-5.279,397.71,7.635,415.383c2.411,3.3,5.318,6.207,8.618,8.618c-17.739,13.054-21.537,38.018-8.483,55.757     c7.54,10.245,19.515,16.279,32.235,16.243h288c2.122,0,4.156-0.844,5.656-2.344l64-64c1.481-1.507,2.299-3.543,2.272-5.656h0.072     V235.314l18.344,18.344c3.124,3.123,8.188,3.123,11.312,0l64-64C496.784,186.534,496.784,181.469,493.661,178.346z      M248.005,96.242l58.176,14.544c-12.058,20.553-34.357,32.901-58.176,32.216c-23.819,0.685-46.118-11.663-58.176-32.216     L248.005,96.242z M16.005,328.002c0-13.255,10.745-24,24-24h176c13.255,0,24,10.745,24,24s-10.745,24-24,24h-176     C26.75,352.002,16.005,341.256,16.005,328.002z M16.005,392.002c0-13.255,10.745-24,24-24h176c13.255,0,24,10.745,24,24     s-10.745,24-24,24h-176C26.75,416.002,16.005,405.256,16.005,392.002z M216.005,480.002h-16h-160c-13.255,0-24-10.745-24-24     s10.745-24,24-24h176c13.255,0,24,10.745,24,24S229.26,480.002,216.005,480.002z M336.005,468.69v-36.688h36.688L336.005,468.69z      M424.005,236.69l-50.344-50.344l-11.312,11.312l21.656,21.656v196.688h-56c-4.418,0-8,3.582-8,8v56h-72.208     c13.315-17.25,10.126-42.027-7.123-55.343c-0.289-0.223-0.581-0.442-0.877-0.657c17.673-12.913,21.532-37.708,8.619-55.382     c-2.411-3.3-5.318-6.207-8.619-8.618c17.74-13.054,21.538-38.018,8.483-55.757c-7.548-10.257-19.541-16.292-32.275-16.243h-104     v-68.688l21.656-21.656l-11.312-11.312L72.005,236.69l-52.688-52.688l72.576-72.576l76.8-13.96     c5.232,34.688,38.8,61.536,79.296,61.536c40.496,0,74.064-26.848,79.296-61.536l76.8,13.96l72.608,72.576L424.005,236.69z"></path>			<rect x="32.005" y="320.002" width="192" height="16"></rect>			<rect x="32.005" y="384.002" width="50" height="50"></rect>			<rect x="32.005" y="448.002" width="50" height="50"></rect>		</g>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </span>
                    <h6 class="fw-bold">Premium Quality</h6>
                    <p class="text-muted small mb-0">
                        Crafted with care using soft,<br>
                        durable fabrics designed to<br>
                        last and feel amazing.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="text-center border rounded-4 p-4 h-100 mt-5">
                    <span class="uael-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" clip-rule="evenodd" fill-rule="evenodd" height="512" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 100 101" width="512"><path d="m56.508 3.762c-2.054.256-4.241.394-6.508.394s-4.454-.138-6.508-.394c-.462-.989-1.321-1.752-2.384-2.084-1.307-.408-2.733-.104-3.76.801l-9.767 8.609c-1.314 1.158-1.7 3.047-.947 4.628 0 0 1.499 3.144 3.094 6.511.002.002.003.005.004.007 2.163 4.539 2.816 9.65 1.864 14.587-.002.008-.003.015-.005.023-2.479 13.29-15.192 51.624-15.192 51.624-.579 1.75.139 3.667 1.726 4.606 0 0 10.585 6.426 31.875 6.426s31.875-6.426 31.875-6.426c1.587-.939 2.305-2.856 1.726-4.606 0 0-12.713-38.336-15.201-51.625-.002-.007-.003-.014-.004-.021-.952-4.938-.299-10.051 1.865-14.591l3.105-6.515c.753-1.581.367-3.47-.947-4.628l-9.767-8.609c-1.027-.905-2.453-1.209-3.76-.801-1.063.332-1.922 1.095-2.384 2.084zm13.586 89.513c6.527-1.648 9.785-3.575 9.785-3.575s-12.82-38.716-15.332-52.135c-1.111-5.76-.349-11.725 2.175-17.02 1.605-3.367 3.105-6.516 3.105-6.516l-9.767-8.609c-1.562 6.303-7.273 15.058-9.069 15.234-.559.055-1.423.055-1.982 0-1.796-.176-7.507-8.931-9.069-15.234l-9.767 8.609s1.5 3.149 3.098 6.519c2.523 5.294 3.285 11.257 2.174 17.015-2.504 13.421-15.324 52.137-15.324 52.137s3.258 1.927 9.785 3.575l8.38-37.968c.233-1.056 1.28-1.724 2.336-1.491 1.057.233 1.725 1.28 1.492 2.336l-8.38 37.97c3.921.752 8.689 1.328 14.306 1.439v-29.869c0-1.082.878-1.96 1.96-1.96s1.96.878 1.96 1.96v29.869c5.617-.111 10.385-.687 14.306-1.439l-8.38-37.97c-.233-1.056.435-2.103 1.492-2.336 1.056-.233 2.103.435 2.336 1.491zm-25.194-85.426c.895 2.123 2.078 4.284 3.226 6.068.574.892 1.339 1.855 1.874 2.499.535-.644 1.3-1.607 1.874-2.499 1.148-1.784 2.331-3.945 3.226-6.068-1.643.148-3.349.227-5.1.227s-3.457-.079-5.1-.227z"></path></svg>
                    </span>
                    <h6 class="fw-bold">Timeless Style</h6>
                    <p class="text-muted small mb-0">
                        Clean silhouettes and<br>
                        versatile pieces you can<br>
                        wear season after season.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="text-center border rounded-4 p-4 h-100">
                    <span class="uael-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 512 512" width="512" height="512"><path d="M394.734,136.481,344,118.033V96a8,8,0,0,0-5.029-7.428l-36.2-14.48L295.761,46.06A8,8,0,0,0,288,40h-8V16a8,8,0,0,0-8-8H240a8,8,0,0,0-8,8V40h-8a8,8,0,0,0-7.761,6.06l-7.008,28.032-36.2,14.48A8,8,0,0,0,168,96v22.033l-50.734,18.448a8,8,0,0,0-5,9.555L151.312,294.42C143.308,306.732,120,352.2,120,464a8,8,0,0,0,8,8h96v24a8,8,0,0,0,8,8h48a8,8,0,0,0,8-8V472h96a8,8,0,0,0,8-8c0-111.8-23.308-157.268-31.312-169.58l39.049-148.384A8,8,0,0,0,394.734,136.481ZM328,101.416V104a8,8,0,0,0,0,16v16a8,8,0,0,0,0,16v16a8,8,0,0,0,0,16v16a8,8,0,0,0,0,16v16a8,8,0,0,0,0,16v16a8,8,0,0,0,0,16v16a8,8,0,0,0,0,16v16a8,8,0,0,0,0,16v16H312V112a7.977,7.977,0,0,0-.239-1.94l-4.205-16.822ZM248,24h16V40H248ZM184,392h16v16H184Zm0-290.584,20.444-8.178-4.2,16.822A7.977,7.977,0,0,0,200,112V376H184V344a8,8,0,0,0,0-16V312a8,8,0,0,0,0-16V280a8,8,0,0,0,0-16V248a8,8,0,0,0,0-16V216a8,8,0,0,0,0-16V184a8,8,0,0,0,0-16V152a8,8,0,0,0,0-16V120a8,8,0,0,0,0-16ZM272,488H240V472h32Zm103.958-32H136.042c1.237-118.417,29.789-154.5,30.032-154.794a8,8,0,0,0,1.663-7.242L129.594,149.023,168,135.058V416a8,8,0,0,0,8,8h32a8,8,0,0,0,8-8V112.985L230.246,56h51.508L296,112.985V368a8,8,0,0,0,8,8h32a8,8,0,0,0,8-8V296.078a7.774,7.774,0,0,0,1.874,5.067C346.168,301.5,374.721,337.583,375.958,456Zm-31.7-162.036a8.2,8.2,0,0,0-.263,1.82V135.058l38.406,13.965Z"></path></svg>
                    </span>
                    <h6 class="fw-bold">In-House Design</h6>
                    <p class="text-muted small mb-0">
                        Every detail is imagined by<br>
                        our in-house design team to<br>
                        bring you standout staples.
                    </p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="text-center border rounded-4 p-4 h-100 mt-5">
                    <span class="uael-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><g>	<g>		<path d="M455.41,281.927c-3.384-4.39-9.687-5.206-14.08-1.821c-4.392,3.385-5.207,9.689-1.822,14.08    c10.321,13.388,15.776,29.425,15.776,46.376c0,5.544,4.495,10.039,10.039,10.039s10.039-4.496,10.039-10.039    C475.362,319.135,468.463,298.859,455.41,281.927z"></path>	</g></g><g>	<g>		<path d="M421.676,214.571c20.383-13.757,33.813-37.064,33.813-63.449c0-42.187-34.322-76.509-76.509-76.509    c-42.187,0-76.509,34.322-76.509,76.509c0,26.373,13.417,49.671,33.785,63.431c-14.838,5.023-28.73,12.672-41.064,22.701    c-10.436-10.037-24.442-15.818-39.191-15.818c-14.748,0-28.754,5.783-39.184,15.818c-12.338-10.029-26.232-17.678-41.072-22.702    c20.368-13.76,33.785-37.058,33.785-63.432c0-42.187-34.322-76.509-76.509-76.509c-42.182,0-76.499,34.322-76.499,76.509    c0,26.385,13.427,49.691,33.807,63.449C37.941,232.37,0.127,281.994,0.014,340.301C0.011,340.39,0,340.474,0,340.562    c0,15.413,8.758,38.16,50.484,59c29.732,14.85,70.59,26.013,118.158,32.28c27.902,3.68,57.294,5.547,87.359,5.547    c30.072,0,59.467-1.866,87.368-5.547c47.564-6.267,88.419-17.43,118.15-32.28c41.723-20.841,50.481-43.587,50.481-59    C512,282.143,474.145,232.399,421.676,214.571z M322.55,151.122c0-31.116,25.315-56.43,56.43-56.43s56.43,25.315,56.43,56.43    c0,31.111-25.315,56.42-56.43,56.42S322.55,182.233,322.55,151.122z M226.046,257.199c6.821-9.82,18.017-15.684,29.954-15.684    c11.943,0,23.143,5.864,29.963,15.684c0.001,0.003,0.003,0.005,0.004,0.007c4.256,6.119,6.504,13.304,6.504,20.781    c0,20.111-16.361,36.472-36.472,36.472c-20.106,0-36.462-16.362-36.462-36.473C219.537,270.498,221.784,263.315,226.046,257.199z     M76.599,151.122c0-31.116,25.31-56.43,56.42-56.43c31.116,0,56.43,25.315,56.43,56.43c0,31.111-25.315,56.42-56.43,56.42    C101.909,207.542,76.599,182.233,76.599,151.122z M159.919,410.323c-40.485-6.165-75.045-16.028-100.462-28.723    c-25.32-12.645-39.292-27.173-39.373-40.918c0-0.04,0.006-0.079,0.006-0.119c-0.001-62.276,50.66-112.942,112.93-112.942    c26.492,0,51.767,9.152,71.993,25.915c-3.647,7.579-5.553,15.888-5.553,24.452c0,17.477,7.971,33.126,20.465,43.508    C184.834,335.763,160.01,370.191,159.919,410.323z M332.017,413.01c-24.419,2.849-49.941,4.302-76.017,4.302    c-26.07,0-51.588-1.453-76.007-4.302v-2.465c0-41.911,34.096-76.007,76.007-76.007c41.916,0,76.017,34.096,76.017,76.007V413.01z     M452.546,381.599c-25.415,12.696-59.971,22.558-100.452,28.723c-0.091-40.132-24.917-74.558-60.011-88.827    c12.497-10.382,20.47-26.031,20.47-43.509c0-8.554-1.906-16.865-5.557-24.451c20.217-16.764,45.489-25.916,71.986-25.916    c62.275,0.001,112.94,50.667,112.94,112.942C491.922,354.343,477.938,368.917,452.546,381.599z"></path>	</g></g><g>	<g>		<path d="M425.328,258.344c-12.919,0-12.942,20.078,0,20.078C438.248,278.422,438.269,258.344,425.328,258.344z"></path>	</g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
                    </span>
                    <h6 class="fw-bold">For Every Body</h6>
                    <p class="text-muted small mb-0">
                        Inclusive fits and sizes<br>
                        designed to flatter all<br>
                        shapes, ages, and styles.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-exclusive">
    <img src="~/images/about-clothing.png" />
    <div class="about-exclusive-content">
        <span class="uael-icon d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 512 512" width="512" height="512"><path d="M472,128H152c-76.262,0-136,31.626-136,72V312c0,40.374,59.738,72,136,72s136-31.626,136-72V256H472a24.028,24.028,0,0,0,24-24V152A24.028,24.028,0,0,0,472,128ZM272,312c0,13.707-12.053,27.594-33.068,38.1C215.846,361.643,184.973,368,152,368s-63.846-6.357-86.932-17.9C44.053,339.594,32,325.707,32,312V234.4a91.048,91.048,0,0,0,16,12.475V272a8,8,0,0,0,16,0V255.3a164.8,164.8,0,0,0,16,6.1V312a8,8,0,0,0,16,0V265.84q7.743,1.808,16,3.109V288a8,8,0,0,0,16,0V270.927q7.842.711,16,.952V328a8,8,0,0,0,16,0V271.879q8.149-.24,16-.952V288a8,8,0,0,0,16,0V268.949q8.246-1.3,16-3.109V312a8,8,0,0,0,16,0V261.4a164.8,164.8,0,0,0,16-6.1V272a8,8,0,0,0,16,0V246.879A91.048,91.048,0,0,0,272,234.4Zm-33.068-73.9a148.875,148.875,0,0,1-24.651,9.52,7.744,7.744,0,0,0-.859.243C195,253.162,173.972,256,152,256s-43-2.838-61.422-8.137a7.744,7.744,0,0,0-.859-.243,148.875,148.875,0,0,1-24.651-9.52C44.053,227.592,32,213.705,32,200s12.053-27.592,33.068-38.1C88.155,150.357,119.028,144,152,144s63.845,6.357,86.932,17.9C259.947,172.408,272,186.3,272,200S259.947,227.592,238.932,238.1ZM448,240H288V200c0-22.854-19.145-42.9-49.589-56H288v24a8,8,0,0,0,16,0V144h16v56a8,8,0,0,0,16,0V144h16v24a8,8,0,0,0,16,0V144h16v56a8,8,0,0,0,16,0V144h16v24a8,8,0,0,0,16,0V144h16Zm32-8a8.009,8.009,0,0,1-8,8h-8V144h8a8.009,8.009,0,0,1,8,8Z"></path><path d="M152,176c-27.874,0-56,7.421-56,24s28.126,24,56,24,56-7.421,56-24S179.874,176,152,176Zm0,32c-22.111,0-35.518-5.043-39.274-8,3.756-2.957,17.163-8,39.274-8s35.518,5.043,39.274,8C187.518,202.957,174.111,208,152,208Z"></path></svg>
        </span>
        <h2 class="fs-24 fw-bold mb-3">More Than Just Clothing</h2>
        <span class="fs-16 fw-normal" style="width: 450px;">
            At Velora, we believe fashion should feel as good as it looks. Born from a passion for timeless design and everyday comfort, our mission is simple: to create versatile, high-quality clothing that empowers confidence — for everyone, every day.
            <br />
            <br />
            Whether you're dressing up for a moment or down for the everyday, our collections are made to move with you, evolve with your lifestyle, and elevate your wardrobe — effortlessly.
        </span>
    </div>
</section>

<section class="py-5 bg-black text-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <h2 class="fw-bold display-6">
                    Thoughtfully Designed for <br /> All
                </h2>
                <p class="mt-4 text-white-50">
                    Our range covers Men, Women, and Kids, with each piece carefully crafted to combine form, function, and feeling.
                    From the perfect polo to the softest loungewear and statement outerwear, everything at Velora is designed with
                    real life in mind — easy to wear, easy to love. We also believe in the power of details. That’s why we obsess
                    over fit, fabric, and finish — so you don’t have to.
                </p>
            </div>
            <div class="col-lg-6">
                <img src="~/images/about-us-bg-01.png" class="img-fluid rounded" alt="Fashion Models">
            </div>
        </div>
    </div>
</section>

<section class="home-orders p-40">
    <div class="container pt-50 pb-50">
        <div class="d-flex justify-content-center align-items-center">
            <div class="arrival-heading text-center">
                <h2 class="fs-46 fw-bold">Get 10% Off on Your First Order</h2>
                <span class="fs-16 fw-normal">
                    Plus exclusive access to product drops, style tips, and insider deals.
                </span>
            </div>
        </div>

        <div class="d-flex pt-50 gap-3 justify-content-center">
            <input type="email" class="form-control fs-16" placeholder="Enter your email address" style="width: 437px; height: 60px;" />
            <button class="btn btn-danger px-4 py-3 fw-bold" style="border-radius: 30px; text-transform: uppercase;">Subscribe</button>
        </div>

        <div class="container text-center my-5">
            <div class="row justify-content-center">
                <div class="col-6 col-sm-3 mb-4">
                    <img src="~/images/footer-img-01.png" class="img-fluid rounded" alt="Image 1">
                </div>
                <div class="col-6 col-sm-3 mb-4">
                    <img src="~/images/footer-img-01.png" class="img-fluid rounded" alt="Image 2">
                </div>
                <div class="col-6 col-sm-3 mb-4">
                    <img src="~/images/footer-img-01.png" class="img-fluid rounded" alt="Image 3">
                </div>
                <div class="col-6 col-sm-3 mb-4">
                    <img src="~/images/footer-img-01.png" class="img-fluid rounded" alt="Image 4">
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                <i class="fa-brands fa-instagram text-danger fs-5 fw-bold"></i>
                <strong>Follow us</strong>
                <span>&#169;VeloraStyle</span>
            </div>
        </div>
    </div>
</section>