<section class="blog-navigation">
    <div class="blog-navigation-content">
        <h1 class="text-start text-black fw-bold mb-1" style="font-size: 74px;">Style, Tips & <br/> More</h1>
        <p class="text-black text-start fs-16 fw-medium pt-2">
            Welcome to The Velora Edit, your go-to destination for all things fashion.
        </p>
    </div>
</section>

<section class="p-40">
    <div class="container pt-50 pb-50">
        <div class="row g-3">
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border">
                    <img src="~/images/blog/blog-post-06.png" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-24">Top 5 Accessories That Elevate Any Look</h5>
                        <p class="text-muted small mb-2 fs-14">May 15, 2025 | 2 minutes of reading</p>
                        <p class="card-text fs-16">
                            1. Statement Earrings: The Instant Game-Changer. Nothing draws attention quite like a pair of bold statement earrings. Whether you prefer […]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border">
                    <img src="~/images/blog/blog-post-06.png" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-24">Mix, Match, Repeat: Building Outfits with Fewer Pieces</h5>
                        <p class="text-muted small mb-2 fs-14">May 15, 2025 | 1 minute of reading</p>
                        <p class="card-text fs-16">
                            Make the Most of What You Have. Creating stylish outfits doesn’t require an overflowing closet—it’s all about making smart choices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border">
                    <img src="~/images/blog/blog-post-06.png" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-24">Velora Kids: Fashion Meets Functionality</h5>
                        <p class="text-muted small mb-2 fs-14">May 15, 2025 | 1 minute of reading</p>
                        <p class="card-text fs-16">
                            Designed for Play, Styled for Life. At Velora Kids, we believe children’s clothing should never make you choose between looking good and staying comfy.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card h-100 shadow-sm border">
                    <img src="~/images/blog/blog-post-06.png" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-24">Top 5 Accessories That Elevate Any Look</h5>
                        <p class="text-muted small mb-2 fs-14">May 15, 2025 | 2 minutes of reading</p>
                        <p class="card-text fs-16">
                            1. Statement Earrings: The Instant Game-Changer. Nothing draws attention quite like a pair of bold statement earrings. Whether you prefer […]
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border">
                    <img src="~/images/blog/blog-post-06.png" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-24">Mix, Match, Repeat: Building Outfits with Fewer Pieces</h5>
                        <p class="text-muted small mb-2 fs-14">May 15, 2025 | 1 minute of reading</p>
                        <p class="card-text fs-16">
                            Make the Most of What You Have. Creating stylish outfits doesn’t require an overflowing closet—it’s all about making smart choices.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 shadow-sm border">
                    <img src="~/images/blog/blog-post-06.png" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title fw-bold fs-24">Velora Kids: Fashion Meets Functionality</h5>
                        <p class="text-muted small mb-2 fs-14">May 15, 2025 | 1 minute of reading</p>
                        <p class="card-text fs-16">
                            Designed for Play, Styled for Life. At Velora Kids, we believe children’s clothing should never make you choose between looking good and staying comfy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
